WpfApp1/Connected Services/ServiceNomina/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceSoap.Models.Documents" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceSoap.Models.Documents" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="NominaGeneral">
    <xs:sequence>
      <xs:element minOccurs="0" name="consecutivoDocumentoNom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="deducciones" nillable="true" type="tns:Deduccion" />
      <xs:element minOccurs="0" name="devengados" nillable="true" type="tns:Devengado" />
      <xs:element minOccurs="0" name="documentosReferenciadosNom" nillable="true" type="tns:ArrayOfDocumentoReferenciadoNom" />
      <xs:element minOccurs="0" name="extrasNom" nillable="true" type="tns:ArrayOfExtensibleNom" />
      <xs:element minOccurs="0" name="fechaEmisionNom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lugarGeneracionXML" nillable="true" type="tns:LugarGeneracionXML" />
      <xs:element minOccurs="0" name="notas" nillable="true" type="tns:ArrayOfNota" />
      <xs:element minOccurs="0" name="novedad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="novedadCUNE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pagos" nillable="true" type="tns:ArrayOfPago" />
      <xs:element minOccurs="0" name="periodoNomina" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="periodos" nillable="true" type="tns:ArrayOfPeriodo" />
      <xs:element minOccurs="0" name="rangoNumeracionNom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="redondeo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoDocumentoNom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoMonedaNom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoNota" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="totalComprobante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="totalDeducciones" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="totalDevengados" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="trabajador" nillable="true" type="tns:Trabajador" />
      <xs:element minOccurs="0" name="trm" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NominaGeneral" nillable="true" type="tns:NominaGeneral" />
  <xs:complexType name="Deduccion">
    <xs:sequence>
      <xs:element minOccurs="0" name="afc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="anticiposNom" nillable="true" type="tns:ArrayOfAnticipoNom" />
      <xs:element minOccurs="0" name="cooperativa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="deuda" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="educacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="embargoFiscal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extrasNom" nillable="true" type="tns:ArrayOfExtensibleNom" />
      <xs:element minOccurs="0" name="fondosPensiones" nillable="true" type="tns:ArrayOfFondoPension" />
      <xs:element minOccurs="0" name="fondosSP" nillable="true" type="tns:ArrayOfFondoSP" />
      <xs:element minOccurs="0" name="libranzas" nillable="true" type="tns:ArrayOfLibranza" />
      <xs:element minOccurs="0" name="otrasDeducciones" nillable="true" type="tns:ArrayOfOtraDeduccion" />
      <xs:element minOccurs="0" name="pagosTerceros" nillable="true" type="tns:ArrayOfPagoTercero" />
      <xs:element minOccurs="0" name="pensionVoluntaria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="planComplementarios" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="reintegro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="retencionFuente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="salud" nillable="true" type="tns:ArrayOfSalud" />
      <xs:element minOccurs="0" name="sanciones" nillable="true" type="tns:ArrayOfSancion" />
      <xs:element minOccurs="0" name="sindicatos" nillable="true" type="tns:ArrayOfSindicato" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Deduccion" nillable="true" type="tns:Deduccion" />
  <xs:complexType name="ArrayOfAnticipoNom">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AnticipoNom" nillable="true" type="tns:AnticipoNom" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAnticipoNom" nillable="true" type="tns:ArrayOfAnticipoNom" />
  <xs:complexType name="AnticipoNom">
    <xs:sequence>
      <xs:element minOccurs="0" name="extrasNom" nillable="true" type="tns:ArrayOfExtensibleNom" />
      <xs:element minOccurs="0" name="montoanticipo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AnticipoNom" nillable="true" type="tns:AnticipoNom" />
  <xs:complexType name="ArrayOfExtensibleNom">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExtensibleNom" nillable="true" type="tns:ExtensibleNom" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExtensibleNom" nillable="true" type="tns:ArrayOfExtensibleNom" />
  <xs:complexType name="ExtensibleNom">
    <xs:sequence>
      <xs:element minOccurs="0" name="controlInterno1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="controlInterno2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="valor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExtensibleNom" nillable="true" type="tns:ExtensibleNom" />
  <xs:complexType name="ArrayOfFondoPension">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FondoPension" nillable="true" type="tns:FondoPension" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFondoPension" nillable="true" type="tns:ArrayOfFondoPension" />
  <xs:complexType name="FondoPension">
    <xs:sequence>
      <xs:element minOccurs="0" name="deduccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extrasNom" nillable="true" type="tns:ArrayOfExtensibleNom" />
      <xs:element minOccurs="0" name="porcentaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FondoPension" nillable="true" type="tns:FondoPension" />
  <xs:complexType name="ArrayOfFondoSP">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FondoSP" nillable="true" type="tns:FondoSP" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFondoSP" nillable="true" type="tns:ArrayOfFondoSP" />
  <xs:complexType name="FondoSP">
    <xs:sequence>
      <xs:element minOccurs="0" name="deduccionSP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="deduccionSub" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extrasNom" nillable="true" type="tns:ArrayOfExtensibleNom" />
      <xs:element minOccurs="0" name="porcentaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="porcentajeSub" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FondoSP" nillable="true" type="tns:FondoSP" />
  <xs:complexType name="ArrayOfLibranza">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Libranza" nillable="true" type="tns:Libranza" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLibranza" nillable="true" type="tns:ArrayOfLibranza" />
  <xs:complexType name="Libranza">
    <xs:sequence>
      <xs:element minOccurs="0" name="deduccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extrasNom" nillable="true" type="tns:ArrayOfExtensibleNom" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Libranza" nillable="true" type="tns:Libranza" />
  <xs:complexType name="ArrayOfOtraDeduccion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OtraDeduccion" nillable="true" type="tns:OtraDeduccion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOtraDeduccion" nillable="true" type="tns:ArrayOfOtraDeduccion" />
  <xs:complexType name="OtraDeduccion">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcionOtraDeduccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extrasNom" nillable="true" type="tns:ArrayOfExtensibleNom" />
      <xs:element minOccurs="0" name="montootraDeduccion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OtraDeduccion" nillable="true" type="tns:OtraDeduccion" />
  <xs:complexType name="ArrayOfPagoTercero">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PagoTercero" nillable="true" type="tns:PagoTercero" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPagoTercero" nillable="true" type="tns:ArrayOfPagoTercero" />
  <xs:complexType name="PagoTercero">
    <xs:sequence>
      <xs:element minOccurs="0" name="extrasNom" nillable="true" type="tns:ArrayOfExtensibleNom" />
      <xs:element minOccurs="0" name="montopagotercero" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagoTercero" nillable="true" type="tns:PagoTercero" />
  <xs:complexType name="ArrayOfSalud">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Salud" nillable="true" type="tns:Salud" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSalud" nillable="true" type="tns:ArrayOfSalud" />
  <xs:complexType name="Salud">
    <xs:sequence>
      <xs:element minOccurs="0" name="deduccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extrasNom" nillable="true" type="tns:ArrayOfExtensibleNom" />
      <xs:element minOccurs="0" name="porcentaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Salud" nillable="true" type="tns:Salud" />
  <xs:complexType name="ArrayOfSancion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Sancion" nillable="true" type="tns:Sancion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSancion" nillable="true" type="tns:ArrayOfSancion" />
  <xs:complexType name="Sancion">
    <xs:sequence>
      <xs:element minOccurs="0" name="extrasNom" nillable="true" type="tns:ArrayOfExtensibleNom" />
      <xs:element minOccurs="0" name="sancionPriv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sancionPublic" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sancion" nillable="true" type="tns:Sancion" />
  <xs:complexType name="ArrayOfSindicato">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Sindicato" nillable="true" type="tns:Sindicato" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSindicato" nillable="true" type="tns:ArrayOfSindicato" />
  <xs:complexType name="Sindicato">
    <xs:sequence>
      <xs:element minOccurs="0" name="deduccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extrasNom" nillable="true" type="tns:ArrayOfExtensibleNom" />
      <xs:element minOccurs="0" name="porcentaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sindicato" nillable="true" type="tns:Sindicato" />
  <xs:complexType name="Devengado">
    <xs:sequence>
      <xs:element minOccurs="0" name="anticiposNom" nillable="true" type="tns:ArrayOfAnticipoNom" />
      <xs:element minOccurs="0" name="apoyoSost" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="auxilios" nillable="true" type="tns:ArrayOfAuxilio" />
      <xs:element minOccurs="0" name="basico" nillable="true" type="tns:ArrayOfBasico" />
      <xs:element minOccurs="0" name="bonifRetiro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bonificaciones" nillable="true" type="tns:ArrayOfBonificacion" />
      <xs:element minOccurs="0" name="bonoEPCTVs" nillable="true" type="tns:ArrayOfBonoEPCTV" />
      <xs:element minOccurs="0" name="cesantias" nillable="true" type="tns:ArrayOfCesantia" />
      <xs:element minOccurs="0" name="comisiones" nillable="true" type="tns:ArrayOfComision" />
      <xs:element minOccurs="0" name="compensaciones" nillable="true" type="tns:ArrayOfCompensacion" />
      <xs:element minOccurs="0" name="dotacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extrasNom" nillable="true" type="tns:ArrayOfExtensibleNom" />
      <xs:element minOccurs="0" name="horasExtras" nillable="true" type="tns:ArrayOfHoraExtra" />
      <xs:element minOccurs="0" name="huelgasLegales" nillable="true" type="tns:ArrayOfHuelgaLegal" />
      <xs:element minOccurs="0" name="incapacidades" nillable="true" type="tns:ArrayOfIncapacidad" />
      <xs:element minOccurs="0" name="indemnizacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="licencias" nillable="true" type="tns:Licencias" />
      <xs:element minOccurs="0" name="otrosConceptos" nillable="true" type="tns:ArrayOfOtroConcepto" />
      <xs:element minOccurs="0" name="pagosTerceros" nillable="true" type="tns:ArrayOfPagoTercero" />
      <xs:element minOccurs="0" name="primas" nillable="true" type="tns:ArrayOfPrima" />
      <xs:element minOccurs="0" name="reintegro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="teletrabajo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="transporte" nillable="true" type="tns:ArrayOfTransporte" />
      <xs:element minOccurs="0" name="vacaciones" nillable="true" type="tns:Vacacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Devengado" nillable="true" type="tns:Devengado" />
  <xs:complexType name="ArrayOfAuxilio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Auxilio" nillable="true" type="tns:Auxilio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuxilio" nillable="true" type="tns:ArrayOfAuxilio" />
  <xs:complexType name="Auxilio">
    <xs:sequence>
      <xs:element minOccurs="0" name="auxilioNS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="auxilioS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extrasNom" nillable="true" type="tns:ArrayOfExtensibleNom" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Auxilio" nillable="true" type="tns:Auxilio" />
  <xs:complexType name="ArrayOfBasico">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Basico" nillable="true" type="tns:Basico" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBasico" nillable="true" type="tns:ArrayOfBasico" />
  <xs:complexType name="Basico">
    <xs:sequence>
      <xs:element minOccurs="0" name="diasTrabajados" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extrasNom" nillable="true" type="tns:ArrayOfExtensibleNom" />
      <xs:element minOccurs="0" name="sueldoTrabajado" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Basico" nillable="true" type="tns:Basico" />
  <xs:complexType name="ArrayOfBonificacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Bonificacion" nillable="true" type="tns:Bonificacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBonificacion" nillable="true" type="tns:ArrayOfBonificacion" />
  <xs:complexType name="Bonificacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="bonificacionNS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bonificacionS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extrasNom" nillable="true" type="tns:ArrayOfExtensibleNom" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bonificacion" nillable="true" type="tns:Bonificacion" />
  <xs:complexType name="ArrayOfBonoEPCTV">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BonoEPCTV" nillable="true" type="tns:BonoEPCTV" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBonoEPCTV" nillable="true" type="tns:ArrayOfBonoEPCTV" />
  <xs:complexType name="BonoEPCTV">
    <xs:sequence>
      <xs:element minOccurs="0" name="extrasNom" nillable="true" type="tns:ArrayOfExtensibleNom" />
      <xs:element minOccurs="0" name="pagoAlimentacionNS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pagoAlimentacionS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pagoNS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pagoS" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BonoEPCTV" nillable="true" type="tns:BonoEPCTV" />
  <xs:complexType name="ArrayOfCesantia">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cesantia" nillable="true" type="tns:Cesantia" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCesantia" nillable="true" type="tns:ArrayOfCesantia" />
  <xs:complexType name="Cesantia">
    <xs:sequence>
      <xs:element minOccurs="0" name="extrasNom" nillable="true" type="tns:ArrayOfExtensibleNom" />
      <xs:element minOccurs="0" name="pago" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pagoIntereses" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="porcentaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cesantia" nillable="true" type="tns:Cesantia" />
  <xs:complexType name="ArrayOfComision">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Comision" nillable="true" type="tns:Comision" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComision" nillable="true" type="tns:ArrayOfComision" />
  <xs:complexType name="Comision">
    <xs:sequence>
      <xs:element minOccurs="0" name="extrasNom" nillable="true" type="tns:ArrayOfExtensibleNom" />
      <xs:element minOccurs="0" name="montocomision" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Comision" nillable="true" type="tns:Comision" />
  <xs:complexType name="ArrayOfCompensacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Compensacion" nillable="true" type="tns:Compensacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompensacion" nillable="true" type="tns:ArrayOfCompensacion" />
  <xs:complexType name="Compensacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="compensacionE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="compensacionO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extrasNom" nillable="true" type="tns:ArrayOfExtensibleNom" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Compensacion" nillable="true" type="tns:Compensacion" />
  <xs:complexType name="ArrayOfHoraExtra">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HoraExtra" nillable="true" type="tns:HoraExtra" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHoraExtra" nillable="true" type="tns:ArrayOfHoraExtra" />
  <xs:complexType name="HoraExtra">
    <xs:sequence>
      <xs:element minOccurs="0" name="cantidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extrasNom" nillable="true" type="tns:ArrayOfExtensibleNom" />
      <xs:element minOccurs="0" name="horaFin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="horaInicio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pago" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="porcentaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoHorasExtra" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HoraExtra" nillable="true" type="tns:HoraExtra" />
  <xs:complexType name="ArrayOfHuelgaLegal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HuelgaLegal" nillable="true" type="tns:HuelgaLegal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHuelgaLegal" nillable="true" type="tns:ArrayOfHuelgaLegal" />
  <xs:complexType name="HuelgaLegal">
    <xs:sequence>
      <xs:element minOccurs="0" name="cantidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extrasNom" nillable="true" type="tns:ArrayOfExtensibleNom" />
      <xs:element minOccurs="0" name="fechaFin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaInicio" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HuelgaLegal" nillable="true" type="tns:HuelgaLegal" />
  <xs:complexType name="ArrayOfIncapacidad">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Incapacidad" nillable="true" type="tns:Incapacidad" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIncapacidad" nillable="true" type="tns:ArrayOfIncapacidad" />
  <xs:complexType name="Incapacidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="cantidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extrasNom" nillable="true" type="tns:ArrayOfExtensibleNom" />
      <xs:element minOccurs="0" name="fechaFin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaInicio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pago" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Incapacidad" nillable="true" type="tns:Incapacidad" />
  <xs:complexType name="Licencias">
    <xs:sequence>
      <xs:element minOccurs="0" name="extrasNom" nillable="true" type="tns:ArrayOfExtensibleNom" />
      <xs:element minOccurs="0" name="licenciaMP" nillable="true" type="tns:ArrayOfLicencia" />
      <xs:element minOccurs="0" name="licenciaNR" nillable="true" type="tns:ArrayOfLicencia" />
      <xs:element minOccurs="0" name="licenciaR" nillable="true" type="tns:ArrayOfLicencia" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Licencias" nillable="true" type="tns:Licencias" />
  <xs:complexType name="ArrayOfLicencia">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Licencia" nillable="true" type="tns:Licencia" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLicencia" nillable="true" type="tns:ArrayOfLicencia" />
  <xs:complexType name="Licencia">
    <xs:sequence>
      <xs:element minOccurs="0" name="cantidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extrasNom" nillable="true" type="tns:ArrayOfExtensibleNom" />
      <xs:element minOccurs="0" name="fechaFin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaInicio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pago" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Licencia" nillable="true" type="tns:Licencia" />
  <xs:complexType name="ArrayOfOtroConcepto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OtroConcepto" nillable="true" type="tns:OtroConcepto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOtroConcepto" nillable="true" type="tns:ArrayOfOtroConcepto" />
  <xs:complexType name="OtroConcepto">
    <xs:sequence>
      <xs:element minOccurs="0" name="conceptoNS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="conceptoS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descripcionConcepto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extrasNom" nillable="true" type="tns:ArrayOfExtensibleNom" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OtroConcepto" nillable="true" type="tns:OtroConcepto" />
  <xs:complexType name="ArrayOfPrima">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Prima" nillable="true" type="tns:Prima" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPrima" nillable="true" type="tns:ArrayOfPrima" />
  <xs:complexType name="Prima">
    <xs:sequence>
      <xs:element minOccurs="0" name="cantidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extrasNom" nillable="true" type="tns:ArrayOfExtensibleNom" />
      <xs:element minOccurs="0" name="pago" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pagoNS" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Prima" nillable="true" type="tns:Prima" />
  <xs:complexType name="ArrayOfTransporte">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Transporte" nillable="true" type="tns:Transporte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransporte" nillable="true" type="tns:ArrayOfTransporte" />
  <xs:complexType name="Transporte">
    <xs:sequence>
      <xs:element minOccurs="0" name="auxilioTransporte" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extrasNom" nillable="true" type="tns:ArrayOfExtensibleNom" />
      <xs:element minOccurs="0" name="viaticoManuAlojNS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="viaticoManuAlojS" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Transporte" nillable="true" type="tns:Transporte" />
  <xs:complexType name="Vacacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="extrasNom" nillable="true" type="tns:ArrayOfExtensibleNom" />
      <xs:element minOccurs="0" name="vacacionesCompensadas" nillable="true" type="tns:ArrayOfVacaciones" />
      <xs:element minOccurs="0" name="vacacionesComunes" nillable="true" type="tns:ArrayOfVacaciones" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vacacion" nillable="true" type="tns:Vacacion" />
  <xs:complexType name="ArrayOfVacaciones">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Vacaciones" nillable="true" type="tns:Vacaciones" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVacaciones" nillable="true" type="tns:ArrayOfVacaciones" />
  <xs:complexType name="Vacaciones">
    <xs:sequence>
      <xs:element minOccurs="0" name="cantidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extrasNom" nillable="true" type="tns:ArrayOfExtensibleNom" />
      <xs:element minOccurs="0" name="fechaFin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaInicio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pago" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vacaciones" nillable="true" type="tns:Vacaciones" />
  <xs:complexType name="ArrayOfDocumentoReferenciadoNom">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DocumentoReferenciadoNom" nillable="true" type="tns:DocumentoReferenciadoNom" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocumentoReferenciadoNom" nillable="true" type="tns:ArrayOfDocumentoReferenciadoNom" />
  <xs:complexType name="DocumentoReferenciadoNom">
    <xs:sequence>
      <xs:element minOccurs="0" name="cunePred" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extrasNom" nillable="true" type="tns:ArrayOfExtensibleNom" />
      <xs:element minOccurs="0" name="fechaGenPred" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numeroPred" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentoReferenciadoNom" nillable="true" type="tns:DocumentoReferenciadoNom" />
  <xs:complexType name="LugarGeneracionXML">
    <xs:sequence>
      <xs:element minOccurs="0" name="departamentoEstado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extrasNom" nillable="true" type="tns:ArrayOfExtensibleNom" />
      <xs:element minOccurs="0" name="idioma" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="municipioCiudad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pais" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LugarGeneracionXML" nillable="true" type="tns:LugarGeneracionXML" />
  <xs:complexType name="ArrayOfNota">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Nota" nillable="true" type="tns:Nota" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNota" nillable="true" type="tns:ArrayOfNota" />
  <xs:complexType name="Nota">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extrasNom" nillable="true" type="tns:ArrayOfExtensibleNom" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Nota" nillable="true" type="tns:Nota" />
  <xs:complexType name="ArrayOfPago">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pago" nillable="true" type="tns:Pago" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPago" nillable="true" type="tns:ArrayOfPago" />
  <xs:complexType name="Pago">
    <xs:sequence>
      <xs:element minOccurs="0" name="extrasNom" nillable="true" type="tns:ArrayOfExtensibleNom" />
      <xs:element minOccurs="0" name="fechasPagos" nillable="true" type="tns:ArrayOfFechaPago" />
      <xs:element minOccurs="0" name="medioPago" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="metodoDePago" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombreBanco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numeroCuenta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoCuenta" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pago" nillable="true" type="tns:Pago" />
  <xs:complexType name="ArrayOfFechaPago">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FechaPago" nillable="true" type="tns:FechaPago" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFechaPago" nillable="true" type="tns:ArrayOfFechaPago" />
  <xs:complexType name="FechaPago">
    <xs:sequence>
      <xs:element minOccurs="0" name="extrasNom" nillable="true" type="tns:ArrayOfExtensibleNom" />
      <xs:element minOccurs="0" name="fechapagonomina" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FechaPago" nillable="true" type="tns:FechaPago" />
  <xs:complexType name="ArrayOfPeriodo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Periodo" nillable="true" type="tns:Periodo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPeriodo" nillable="true" type="tns:ArrayOfPeriodo" />
  <xs:complexType name="Periodo">
    <xs:sequence>
      <xs:element minOccurs="0" name="extrasNom" nillable="true" type="tns:ArrayOfExtensibleNom" />
      <xs:element minOccurs="0" name="fechaIngreso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaLiquidacionFin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaLiquidacionInicio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaRetiro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tiempoLaborado" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Periodo" nillable="true" type="tns:Periodo" />
  <xs:complexType name="Trabajador">
    <xs:sequence>
      <xs:element minOccurs="0" name="altoRiesgoPension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codigoTrabajador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extrasNom" nillable="true" type="tns:ArrayOfExtensibleNom" />
      <xs:element minOccurs="0" name="lugarTrabajoDepartamentoEstado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lugarTrabajoDireccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lugarTrabajoMunicipioCiudad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lugarTrabajoPais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numeroDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="otrosNombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="primerApellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="primerNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="salarioIntegral" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="segundoApellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="subTipoTrabajador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sueldo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoContrato" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoIdentificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoTrabajador" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Trabajador" nillable="true" type="tns:Trabajador" />
</xs:schema>