WpfApp1/Connected Services/ServiceNomina/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceSoap.Models.Request" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceSoap.Models.Request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://demo-nomina-soap.thefactoryhka.com.co/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ServiceSoap.Models.Documents" />
  <xs:complexType name="Request">
    <xs:sequence>
      <xs:element minOccurs="0" name="idSoftware" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nitEmpleador" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceSoap.Models.Documents" minOccurs="0" name="nomina" nillable="true" type="q1:NominaGeneral" />
      <xs:element minOccurs="0" name="tokenEnterprise" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tokenPassword" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Request" nillable="true" type="tns:Request" />
  <xs:complexType name="RequestConsultar">
    <xs:sequence>
      <xs:element minOccurs="0" name="tokenEnterprise" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tokenPassword" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestConsultar" nillable="true" type="tns:RequestConsultar" />
  <xs:complexType name="RequestConsultarDocumento">
    <xs:sequence>
      <xs:element minOccurs="0" name="consecutivoDocumentoNom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tokenEnterprise" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tokenPassword" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestConsultarDocumento" nillable="true" type="tns:RequestConsultarDocumento" />
  <xs:complexType name="RequestEnviarCorreo">
    <xs:sequence>
      <xs:element minOccurs="0" name="consecutivoDocumentoNom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tokenEnterprise" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tokenPassword" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestEnviarCorreo" nillable="true" type="tns:RequestEnviarCorreo" />
</xs:schema>