WpfApp1/Connected Services/ServiceNomina/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceSoap.Models.Response" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceSoap.Models.Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://demo-nomina-soap.thefactoryhka.com.co/Service.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Response">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="consecutivoDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cune" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="esvalidoDIAN" type="xs:boolean" />
      <xs:element minOccurs="0" name="idSoftware" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nitEmpleado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nitEmpleador" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="notificacionesDIAN" nillable="true" type="q1:ArrayOfstring" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="notificacionesTFHKA" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="qr" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="rechazoDIAN" nillable="true" type="q3:ArrayOfstring" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="rechazoTFHKA" nillable="true" type="q4:ArrayOfstring" />
      <xs:element minOccurs="0" name="resultado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="trackId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Response" nillable="true" type="tns:Response" />
</xs:schema>