WpfApp1/Connected Services/ServiceNomina/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceSoap.Models.Response" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceSoap.Models.Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://demo-nomina-soap.thefactoryhka.com.co/Service.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Response">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="consecutivoDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cune" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="esvalidoDIAN" type="xs:boolean" />
      <xs:element minOccurs="0" name="idSoftware" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nitEmpleado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nitEmpleador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="qr" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="reglasNotificacionesDIAN" nillable="true" type="q1:ArrayOfstring" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="reglasNotificacionesTFHKA" nillable="true" type="q2:ArrayOfstring" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="reglasRechazoDIAN" nillable="true" type="q3:ArrayOfstring" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="reglasRechazoTFHKA" nillable="true" type="q4:ArrayOfstring" />
      <xs:element minOccurs="0" name="resultado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="trackId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Response" nillable="true" type="tns:Response" />
  <xs:complexType name="ResponseFoliosRemaining">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" type="xs:int" />
      <xs:element minOccurs="0" name="foliosRestantes" type="xs:int" />
      <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="resultado" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseFoliosRemaining" nillable="true" type="tns:ResponseFoliosRemaining" />
  <xs:complexType name="ResponseStatusDocument">
    <xs:sequence>
      <xs:element minOccurs="0" name="ambiente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cadenaCodigoQR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cadenaCune" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codigo" type="xs:int" />
      <xs:element minOccurs="0" name="consecutivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cune" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descripcionDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descripcionEstatusDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="esValidoDIAN" type="xs:boolean" />
      <xs:element minOccurs="0" name="estatusDocumento" type="xs:int" />
      <xs:element minOccurs="0" name="fechaAceptacionDIAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mensajeDocumento" nillable="true" type="xs:string" />
      <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="reglasValidacionDIAN" nillable="true" type="q5:ArrayOfstring" />
      <xs:element minOccurs="0" name="resultado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="trackID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseStatusDocument" nillable="true" type="tns:ResponseStatusDocument" />
  <xs:complexType name="ResponseDownloadDocument">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" type="xs:int" />
      <xs:element minOccurs="0" name="cune" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="documento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="resultado" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseDownloadDocument" nillable="true" type="tns:ResponseDownloadDocument" />
  <xs:complexType name="ResponseSendEmail">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" type="xs:int" />
      <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="resultado" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseSendEmail" nillable="true" type="tns:ResponseSendEmail" />
</xs:schema>