WpfApp1/Connected Services/ServiceNomina/Service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://demo-nomina-soap.thefactoryhka.com.co/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceSoap.Models.Request" />
  <xs:import schemaLocation="http://demo-nomina-soap.thefactoryhka.com.co/Service.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ServiceSoap.Models.Response" />
  <xs:element name="Enviar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceSoap.Models.Request" minOccurs="0" name="request" nillable="true" type="q1:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceSoap.Models.Response" minOccurs="0" name="EnviarResult" nillable="true" type="q2:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>